<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
   <h1><%= doct.name %></h1>
    <hr>
    <a  href="/mypatients/<%= doct._id %> "> my list </a>
    <hr>
        <%if(locals.user){ %>
            <a href="/logout"><button >logout</button></a>
        <%   } 
        else
        { %>
            <button>boka hai kya bahar hi to hai</button>
         <% }  %> 
</body>
</html>