<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/doctorshow.css">
    <title>All Doctors</title>
</head>
<body class="body">
    <center><h1>All Doctors</h1></center>
    
    <ol>
        <% for(let i of doctList){ %>
            <li class="list">
                <ul>
                   <li class="list1"><%= i.name %></li> 
                   <li class="list1"> Specialisation - <%= i. specialisation %>  </li>
                   <li class="list1">
                        <a href="/doctor/<%= i._id %> "><button class="button2" >Details</button></a>
                   </li>
                </ul>
                <hr>
            </li>
        <% } %> 
    </ol>
    <!-- <form action="/products/new">
        <button>Add new</button>
    </form> -->
</body>
</html>