<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
</head>
<body>
    <h1>Signup Page for Patients</h1>
    <form action="/products" method="POST">
        <label for="name">Full Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your full Name">
        <br><br>
        <label for="phone">Phone Number</label>
        <input type="number" name="phone" id="phn" placeholder="Enter your Phone Number">
        <br><br>
        <label for="email">Email ID</label>
        <input type="email" name="email" id="email" placeholder="Enter your Email">
        <br><br>
        <label for="address">Address</label>
        <input type="address" name="address" id="address" placeholder="Enter your Address">
        <br><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>