<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <center><h1>Welcome <%= user.name %></h1></center>
    <form action="/logoutP" method="POST">
        <button>Naya button</button>
    </form>
    <br><br>
        <a href="/DisplayDoct"> <button>Doctor's List</button></a>
        
</body>
</html>