<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/siginp.css">
    <title>Patients Signin</title>
</head>
<body>
    <center><h1>SignIn/SignUp</h1></center>
    <div class="div1">
    <form action="/signinPatients" method="POST">
        <label for="Username" >Enter your Username</label>
        <input type="email" name="email" id="username" placeholder="Enter your username">
        <br><br>
        <label for="password" >Enter your password</label>
        <input type="password" name="password" id="password" placeholder="password">
        <br><br>
        <button>SignIn</button>
        <br>
        <p>New user ?</p>
    </form>
    <a href="/products/new"><button>SignUp</button></a>
    </div>
</body>
</html>