<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Signin</title>
</head>
<body>
    <h1>SignIn/SignUp</h1>
    <form action="/signinDoctor" method="POST">
        <label for="Username" >Enter your Username</label>
        <input type="email" name="email" id="username" placeholder="Enter your username">
        <label for="password" >Enter your password</label>
        <input type="password" name="password" id="password" placeholder="password">
        <button>SignIn</button>
        <p>New user ?</p>
        
    </form>
    <a href="/Doctor"><button>SignUp</button></a>
</body>
</html>